<div class="page">
  <!--speech-->
  <div class="speech">
    <img class="icon" src="/images/idea.png" alt="icon" />
    <div>
      <p class="info">點擊物件可以<span>修改物件</span></p>
      <p class="info">點擊物件右上角<span> X </span>可<span>刪除物件</span></p>
    </div>
  </div>
  <!--page--->
  <div class="itemsPage"> 
    {{> searchBar queryTag=queryTag search=search}}
  <!-- tags -->
  <div class="tagsSlider">
    <a class="tag-link {{#if (isSame 'all' queryTag)}}active{{/if}}"  href="/items?queryTag=all">
       全部
    </a>
    {{#each tags}}
    <a class="tag-link {{#if (isSame name ../queryTag)}}active{{/if}}" href="/items?queryTag={{name}}">
       {{name}}
       <span class="tagItemsCount">{{itemsCount}}</span>
    </a>
    {{/each}}
  </div>
  <div class="current-tag">
    搜尋 [
   {{#if (isSame queryTag 'all')}}
    <span>全部</span>
    {{else}}
    <span>{{queryTag}}</span>
    {{/if}}
    {{#if search}}
    <span>+ {{search}} </span>
    {{/if}}
    <span>] 搜尋結果：<span class="color-primary fw-bold">{{items.length}}</span> 個物件</span>
  </div>
 
  {{#if (checkLength items.length 0)}}
  <div class="itemsPageGrid">
    {{#each items}}
    <a class="itemLink" href="/items/{{id}}">
      <div class="item flash {{#isSold amount}}sold{{/isSold}}">
        {{#isSold amount}} {{else}}
        <button type="button" class="itemDelete" data-id="{{../id}}" data-name="{{../name}}"></button>
        {{/isSold}}
        <img class="itemImage" src="/images/{{cover.id}}" alt="{{name}}" loading="lazy" />
        <div class="itemInfoDiv">
          <p class="itemName"> {{name}} </p>
          <div class="item-price-stock">
            <span class="itemPrice">{{price}} </span>
            <span class="itemStock">{{#isSold amount}}售完{{else}}有貨{{/isSold}}</span>
          </div>
        </div>
      </div>
    </a>
    {{/each}}
  </div>
</div>
</div>
{{else}}
<div class="error-info">
  <p class="info"><span>{{queryTag}}</span> 目前沒有東西唷！</p>
  <p class="info">加入新物件吧～</p>
</div>
{{/if}}

<script type="module">
  import sweetAlert from '/js/sweetAlert.js'
  const itemImages = document.querySelectorAll('.itemImage')
  const itemDeletes = document.querySelectorAll('.itemDelete')

  function handleItemImageLoaded() {
    itemImages.forEach((image) => {
      if (image.complete) {
        image.parentElement.classList.remove('flash')
      } else {
        image.onload = () => {
          image.parentElement.classList.remove('flash')
        }
      }
    })
  }

  async function deleteItem(itemId) {
    try {
      if (!itemId) throw new Error('No item id')
      const url = `/items/${itemId}`
      const response = await fetch(url, { method: 'DELETE' })
      const json = await response.json()
      if (!json.ok) throw new Error(json.message)
      window.location.reload()
    } catch (err) {
      await sweetAlert.error('刪除失敗', err)
    }
  }

  async function handleDelete() {
    itemDeletes.forEach((b) => {
      const itemName = b.dataset.name

      b.onclick = async (e) => {
        e.preventDefault() // stop parent <a>
        e.stopPropagation()
      // confirm
       //const isConfirm = confirm('刪除物件')
        const result = await sweetAlert.confirm(`你確定要刪除: ${itemName}？`)        
        if (result.isConfirmed) {
        const itemId = b.dataset.id
        deleteItem(itemId)
        }
        return
      }
    })
  }
  // Action
  handleItemImageLoaded()
  handleDelete()
</script>
