<div class="page">
  <!--speech-->
  <div class="speech">
    <img class="icon" src="/images/idea.png" alt="icon" />
    <div>
      <p class="info"><span>取消交易</span>後無法復原需要再次下單</p>
    </div>
  </div>
      <div class="orderPage">
        <div class="orderPage-head">
          <span>全部訂單: {{activeOrders}} </span>
           <span>完成: {{completedOrders}} </span>
          <span>總金額: {{totalPrice}}</span>
        </div>
      
      <div class="order-filters-container">
        <!--filter selector-->
      <select id="order-filters-select" class="order-filters-select" name="filter" id="filters-select">
        <option value="全部" {{#if (isSame filter '全部' )}}selected {{/if}}>全部 </option>
        <option value="未完成" {{#if (isSame filter '未完成' )}}selected {{/if}}>未完成  </option>
        <option value="完成" {{#if (isSame filter '完成' )}}selected {{/if}}>完成 </option>
      </select>
      <!--search -->
      <div id="inputGroup-input-container" class="inputGroup-input-container">
      <input id="order-search-input" class="inputGroup-input" name="search" type="text" placeholder="名稱、信箱"  value="{{search}}" autofocus />
       <button id='order-search-button' class="auto">
        <i class="fa-solid fa-magnifying-glass"></i>
       </button>
      </div>
      <!--search button -->
      <button id='order-reset-button' class="auto secondary">全部</button>
      </div>

      <p class="c-dark my-1 t-center fs-small">目前顯示 {{orders.length}} 件訂單</p>

        <div class="ordersContainer">
      {{#if orders}}
      {{#each orders}}
      <div class="order">
        <!--items-->
        <div class="itemsRow">
          <!--info line-->
          <div class="infoLine">
            <p><span class="orderId">orderId: {{id}}</span></p>
            <p><span class="orderCount">件數:</span> {{items.length}}</p>
            <p><span class="orderPrice">總價: {{price}}</span></p>
          </div>
          {{#each items}}
          <div class="orderItem">
            <img class="orderItem-img" src='/api/images/{{cover.id}}' alt="cover">
            <div class="orderItem-info">
              <p class="info"><span>Id: {{id}}</span></p>
              <p>{{name}}</p>
              <p>${{price}}</p>
            </div>
          </div>
          {{/each}}
        </div>

        <!--order info-->
        <div class="infoRow">
            <p><span class="orderInfo">買家:</span> {{buyerName}}</p>
            <p><span class="orderInfo">信箱:</span> {{buyerEmail}}</p>
            <p><span class="orderInfo">IG:</span> {{buyerIG}}</p>
        {{#if (isSame status '取消訂單')}}
           <p><span class="orderInfo">訂單狀態:</span></p>
           <select class="status-select" name="status"  disabled>
          <option value="取消訂單" selected>取消訂單</option>
          </select>

          <p class="info"><span>訂單已取消，物品已經回歸</span></p>
          <p class="info"><span> ↓ [刪除訂單] 會把訂單資料整筆刪除</span></p>
          <button class="delete" type="button" data-orderid={{id}}>刪除訂單</button>
        {{else}}
          <p><span class="orderInfo">訂單裝態:</span></p>
           <select class="status-select" name="status"  data-orderid={{id}}>
          <option value="等待聯繫" {{#if (isSame status '等待聯繫')}}selected{{/if}}>等待聯繫</option>
          <option value="備貨" {{#if (isSame status '備貨')}}selected{{/if}}>備貨</option>
          <option value="交易完成" {{#if (isSame status '交易完成')}}selected{{/if}}>交易完成</option>
        </select>
        <button class="cancel" type="button" data-orderid={{id}}>取消訂單</button> 
        {{/if}}
        </div>
      </div>
      {{/each}}
      {{else}}
      <!-- 找不到東西 -->
      <div style="d-flex">
         <p class="t-center c-dark">在<span class="c-primary"> {{filter}} </span>的訂單中搜尋不到<span class="c-primary">{{#if search}} {{search}} </span>的訂單{{else}}訂單{{/if}}</p>
      </div>
      {{/if}}
      </div>
    </div>
</div>

<script type="module" src="/js/orderPage.js"></script>

