<div class="page">
<div class="postsPage">
  {{#if posts}}
  <table class="posts-table">
    <thead>
      <tr class="table-row">
      <th>ID</th>
      <th>標題</th>
      <th>狀態</th>
      <th></th>
      </tr>
    </thead>
    <tbody>
      <!--post array-->
      {{#each posts}}
      <tr class="table-row">
        <td class="table-cell td-id">{{id}}</td>
        <td class="table-cell td-des"><a class="post-link" href="/posts/{{id}}">{{title}}</a></td>
        <td class="table-cell td-status">{{status}}</td>
        <td class="table-cell td-action">  
            <button class="post-delete auto" data-id="{{id}}">X</button>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
   {{else}}
  {{> note text='目前沒有任何貼文'}}
  {{/if}}
</div>

<script type="module" src="/js/postsPage.js"></script>
