<div class="page">
  <div class="statusPage">
    <p>isLock : {{isLock}}</p>

        <!--speech-->
  <div class="speech">
    <img class="icon" src="/images/idea.png" alt="icon" />
    <div>
      <p class="info"><span>關閉</span>的商店需要給予<span>狀況</span>與<span>訊息</span></span></p>
      <p class="info"><span>開啟</span>的商店不需要理會狀況與訊息</p>
    </div>
  </div>
  <!--image-->
  <div class="statusPage-infograph">
          <img src="/images/shop-status-500.png" alt="shop-status">
  </div>
      <select id="select" class="statusPage-select" name="lock" >
        {{#if isLock}}
        <option value="false" >商店開啟</option>
        <option value="true" selected>商店關閉</option>
        {{else}}
        <option value="false" selected >商店開啟</option>
        <option value="true"  >商店關閉</option>
        {{/if}}

      </select>
        <!--reason-->
      <div class="inputGroup-row">
     <div class="inputGroup-input-container">
      <label class="inputGroup-label" for="reason">狀況 :</label>
      <input class="inputGroup-input" id="reason" name="reason" type="text" placeholder="..." value="{{reason}}" required  {{#if isLock }}{{else}}disabled{{/if}} />
      </div>
    </div>
    <!--message-->
    <div class="inputGroup-row">
      <div class="inputGroup-input-container">
      <label class="inputGroup-label" for="message">訊息 :</label>
      <input class="inputGroup-input" id="message" name="message" type="text" placeholder="..." value="{{message}}" required  {{#if isLock}}{{else}}disabled{{/if}} />
      </div>
    </div>
  <div>
    <div class="flex-center">
    <button id="status-page-button" class="statusPage-button" type="button">儲存</button>
    </div>
<div>
<script type="module" src="/js/statusPage.js"></script>